/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.App {
  text-align: center;
}

/* Header Styles */
header {
  background-color: #007bff;
  color: rgb(216, 36, 36);
  padding: 20px 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: rgb(95, 42, 42);
  font-weight: bold;
}

/* Footer Styles */
footer {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
}

/* Home Page Styles */
h2 {
  margin-top: 20px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

/* Articles Page Styles */
ul {
  text-align: left;
  display: inline-block;
}

ul li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Quiz Page Styles */
button {
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Results Page Styles */
h2 {
  font-size: 24px;
  margin-top: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 10px 0;
  }

  footer {
    font-size: 14px;
  }
}
